---
interface Props {
  date: string;
  role: string;
  company: string;
  description: string;
}
const { date, company, description, role } = Astro.props;
---

<div class="flex-none w-24 text-center">
  <span
    class="inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-full text-xs font-medium border border-gray-200 bg-gradient-to-r from-purple-50 via-white to-purple-100 text-gray-800 shadow-sm"
  >
    {date}
  </span>
</div>
<div class="py-2 px-3 rounded-2xl bg-transparent">
  <div
    class="absolute size-5 flex justify-center items-center bg-purple-500 rounded-full top-2 start-[15px] desktop:start-[135px] border border-gray-200 shadow"
  >
    <svg
      class="size-2.5 text-white"
      width="62"
      height="62"
      viewBox="0 0 62 62"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M50.5839 13.2821C52.2993 10.8644 51.73 7.51395 49.3124 5.79855C46.8947 4.08314 43.5443 4.65242 41.8288 7.07005C40.3571 9.14431 35.9915 17.0968 32.8691 26.3227C32.6562 26.2574 32.4405 26.2074 32.2234 26.1722C33.4409 16.447 32.9227 7.4289 32.4959 4.91715C31.9994 1.99465 29.2277 0.028027 26.3052 0.524582C23.3827 1.02114 21.4161 3.79283 21.9126 6.71533C22.3386 9.22225 24.874 17.9295 29.1882 26.6594C28.9697 26.7728 28.7588 26.9034 28.5575 27.0507C22.5448 19.3209 15.8096 13.3178 13.7332 11.8445C11.3155 10.1291 7.96502 10.6984 6.24962 13.116C4.53422 15.5337 5.10349 18.8842 7.52113 20.5996C9.59539 22.0713 17.5479 26.4369 26.7738 29.5594C26.7057 29.7815 26.6541 30.0069 26.6188 30.2336C16.9654 29.0496 7.92591 29.5317 5.42164 29.9572C2.49913 30.4538 0.532516 33.2255 1.02907 36.148C1.52563 39.0705 4.29732 41.0371 7.21982 40.5405C9.72633 40.1147 18.3785 37.6347 27.1371 33.2905C27.2458 33.4939 27.3694 33.6906 27.5078 33.8788C19.8309 39.8732 13.7664 46.6204 12.2947 48.6946C10.5793 51.1123 11.1485 54.4627 13.5662 56.1781C15.9838 57.8935 19.3343 57.3243 21.0497 54.9066C22.523 52.8302 26.8977 44.9394 30.0199 35.6574C30.2538 35.7286 30.4912 35.7814 30.7301 35.8163C29.5189 45.5265 30.0363 54.5237 30.4624 57.032C30.959 59.9545 33.7307 61.9212 36.6532 61.4246C39.5757 60.9281 41.5423 58.1564 41.0458 55.2339C40.6196 52.7259 38.0822 44.0124 33.7647 35.2788C33.9599 35.1732 34.1488 35.0537 34.3298 34.9206C40.3242 42.5975 47.0714 48.662 49.1457 50.1337C51.5633 51.8492 54.9138 51.2799 56.6292 48.8622C58.3446 46.4446 57.7754 43.0941 55.3577 41.3787C53.2813 39.9054 45.3905 35.5308 36.1085 32.4085C36.1789 32.1773 36.2314 31.9426 36.2663 31.7065C45.9471 32.902 55.0261 32.4185 57.5367 31.992C60.4592 31.4954 62.4259 28.7237 61.9293 25.8012C61.4328 22.8787 58.6611 20.9121 55.7386 21.4086C53.225 21.8357 44.5309 24.3284 35.7471 28.6956C35.6388 28.4919 35.5156 28.2949 35.3776 28.1065C43.1075 22.0938 49.1106 15.3585 50.5839 13.2821Z"
        fill="currentColor"></path>
    </svg>
  </div>
  <span class="text-purple-500 font-medium text-sm">{company}</span>
  <h3 class="text-lg font-semibold text-gray-800">
    {role}
  </h3>
  <!-- <p class="mb-2 text-purple-500 font-semibold text-sm">{company}</p>-->
  <p class="text-base font-normal text-gray-500">
    {description}
  </p>
</div>
